<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobtocosmos20190408083003.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ebdd5dd6-9e43-4c88-9418-bdc1f706b0cc/resourcegroups/AZ3166-test-group/providers/Microsoft.Web/sites/BlobToCosmos20190408083003</ResourceId>
    <UserName>$BlobToCosmos20190408083003</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://blobtocosmos20190408083003.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>